<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All The Cats!</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/cats/all">All Cats</a></li>
                <li><a href="/cats/new">New Cat</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>ALL THE CATS</h1>
        <p>This is the homepage.</p>
    </main>
</body>
</html>